{% extends 'dashboard/base.html' %}
{% block title %}Learning Resources{% endblock %}

{% block content %}
    <!--Application Logo-->
    <div class="col-md-12 mt-0 text-center">
        <!--<h1 class="mt-5">Login</h1>-->
        <img src="/static/img/logo-3.svg" alt="Logo" class="mt-5 mb-5"> 
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Learning Resources</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-0 text-center hero-section res">
            <div class="hero-content">
              <h1 class="mt-5">Learning Resources</h1>
              <p>Empowering Your Journey: Unlocking Knowledge, One Click at a Time</p>
              <!-- <a href="/dashboard" class="btn btn-primary btn-lg">Get Started</a> -->
            </div>
          </div>
        </div>
      </div>
      <section class="bg-light py-5">
        <div class="container-fluid">
            <h2 class="text-center mb-4">Programming Languages</h2>
            <div class="row">
                <!-- Add programming languages content here -->
                <!-- JavaScript Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/javascript.png" class="card-img-top" alt="JavaScript">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">JavaScript</h5>
                            <p class="card-text">JavaScript is a programming language that is primarily used for scripting web pages and controlling web browsers. It is widely used for front-end development, back-end development, and building interactive web applications.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <!-- Python Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/python.png" class="card-img-top" alt="Python">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Python</h5>
                            <p class="card-text">Python is a high-level programming language known for its simplicity and readability. It is widely used in web development, data analysis, artificial intelligence, machine learning, scientific computing, and more.</p>
                            <a href="/dashboard/py-resources" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <!-- Java Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/java.png" class="card-img-top" alt="Java">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Java</h5>
                            <p class="card-text">Java is a widely-used programming language that is known for its portability, performance, and security features. It is used for developing a wide range of applications, including web applications, mobile apps, enterprise software, and more.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/cplus.png" class="card-img-top" alt="Java">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">C++</h5>
                            <p class="card-text">Java is a widely-used programming language that is known for its portability, performance, and security features. It is used for developing a wide range of applications, including web applications, mobile apps, enterprise software, and more.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/csharp.png" class="card-img-top" alt="Java">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">C#</h5>
                            C# is a versatile programming language developed by Microsoft. It is widely used for developing desktop applications, web applications, mobile apps, games, and more within the .NET framework.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-secondary py-5">
        <div class="container-fluid">
            <h2 class="text-center mb-4 text-white">Frameworks</h2>
            <div class="row">
                <!-- Add frameworks content here -->
                <!-- React Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/react.png" class="card-img-top" alt="React">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">React</h5>
                            <p class="card-text">React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <!-- Angular Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/angularjs.png" class="card-img-top" alt="Angular">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Angular</h5>
                            <p class="card-text">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
                <!-- Vue.js Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/vuejs.png" class="card-img-top" alt="Vue.js">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Vue.js</h5>
                            <p class="card-text">Vue.js is an open-source model–view–viewmodel JavaScript framework for building user interfaces and single-page applications.</p>
                            <a href="#" class="btn btn-primary mt-auto">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <!-- Specializations Section -->
      <section class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">Specializations</h2>
          <!-- Add specializations content here -->
        </div>
      </section>
    
{% endblock %}