{% extends 'dashboard/base.html' %}
{% block title %}Profile{% endblock %}
    {% block content %}
    <!-- Content Area -->
    <div class="container">
        <h1 class="mt-5">User Profile Form</h1>
        <form method="POST" action="{{ url_for('profile') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="photo" class="form-label">Profile Photo</label>
                <input type="file" class="form-control-file" id="photo" name="photo">
            </div>
            <div class="mb-3">
                {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.bio.label }} {{ form.bio(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.sex.label }} {{ form.sex(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.city.label }} {{ form.city(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.state.label }} {{ form.state(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.country.label }} {{ form.country(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.github_link.label }} {{ form.github_link(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.twitter_username.label }} {{ form.twitter_username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.linkedin_link.label }} {{ form.linkedin_link(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.resume_url.label }} {{ form.resume_url(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.skills.label }} {{ form.skills(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.interests.label }} {{ form.interests(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
