{% extends 'dashboard/base.html' %}
{% block title %}Python Learning Resources{% endblock %}

{% block content %}
<div class="col-md-12 mt-0 text-center">
    <!--Logo-->
    <img src="/static/img/logo-3.svg" alt="Logo" class="mt-5 mb-5"> 

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-0 text-center hero-section res">
            <div class="hero-content">
              <h1 class="mt-5">Python Resources</h1>
              <p>Unlock the Power of Python: Journey from Novice to Ninja with Expert Guidance!</p>
            </div>
          </div>
        </div>
      </div>

    <!-- Books Section -->
    <section class="bg-light py-5 container-fluid">
        <div class="container">
          <h2 class="text-center mb-4">Books and Ebooks</h2>
          <!-- Add Books and ebooks content here -->
            <div class="row">
                <!-- Add programming languages content here -->
                <!-- JavaScript Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/python_crash.png" class="card-img-top" alt="JavaScript">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Python Crash Course by Eric Matthes</h5>
                            <p class="card-text">A hands-on, project-based introduction to programming with Python. This book is designed for beginners with no prior programming experience.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Beginners </p>
                            <a href="https://dokumen.pub/python-crash-course-3nbsped-1718502702-9781718502703.html" target="_blank" class="btn btn-primary mt-auto">Download</a>
                        </div>
                    </div>
                </div>
                <!-- Python Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/headfirst.png" class="card-img-top" alt="Python">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Head First Python by Paul Barry</h5>
                            <p class="card-text">Discover Python the fun way with 'Head First Python' by Paul Barry. This interactive book offers a hands-on approach to learning Python, featuring engaging exercises, visual aids, and real-world examples.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Beginners </p>
                            <a href="https://dokumen.pub/head-first-python-2nd-edition.html" target=_blank class="btn btn-primary mt-auto">Download</a>
                        </div>
                    </div>
                </div>
                <!-- Java Card -->
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/effectivepython.png" class="card-img-top" alt="Java">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Effective Python: 90 Specific Ways to Write Better Python by Brett Slatkin</h5>
                            <p class="card-text">Discover actionable tips and techniques in 'Effective Python: 90 Specific Ways to Write Better Python' by Brett Slatkin. This guide offers concise advice for improving your Python coding skills, suitable for both beginners and experienced developers.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Intermediate </p>
                            <a href="https://dokumen.pub/effective-python-90-specific-ways-to-write-better-python-2nd-edition.html" class="btn btn-primary mt-auto" target="_blank">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- Documentation Section -->
      <section class="bg-light py-5 container-fluid">
        <div class="container-fluid">
          <h2 class="text-center mb-4">Documentation</h2>
          <!-- Add documentation content here -->
          <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/pydoc.png" class="card-img-top" alt="JavaScript">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Python Documentation</h5>
                            <p class="card-text">A hands-on, project-based introduction to programming with Python. This book is designed for beginners with no prior programming experience.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Beginners, Intermediate and Expert </p>
                            <a href="https://docs.python.org/3/tutorial/index.html" target="_blank" class="btn btn-primary mt-auto">Visit site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Online Resources Section -->
    <section class="bg-light py-5 container-fluid">
        <div class="container">
          <h2 class="text-center mb-4">Online Resources</h2>
          <!-- Add Online Resources content here -->
          <div class="row">
            <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/realpython.png" class="card-img-top" alt="JavaScript">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Python Documentation</h5>
                            <p class="card-text">A hands-on, project-based introduction to programming with Python. This book is designed for beginners with no prior programming experience.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Beginners, Intermediate and Expert </p>
                            <a href="https://docs.python.org/3/tutorial/index.html" target="_blank" class="btn btn-primary mt-auto">Visit site</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="/static/img/thumbnails/w3school.png" class="card-img-top" alt="JavaScript">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">W3 School Python</h5>
                            <p class="card-text">W3Schools offers comprehensive, self-paced tutorials for learning Python. With interactive examples and practical coverage of topics, it's an accessible resource for beginners and experienced programmers alike.</p>
                            <p class="card-text"><span class="font-weight-bold">Level: </span> Beginners, Intermediate</p>
                            <a href="https://www.w3schools.com/python/" target="_blank" class="btn btn-primary mt-auto">Visit site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <!-- Coding Challenge Section -->
      <section class="bg-light py-5 container-fluid">
        <div class="container">
          <h2 class="text-center mb-4">Coding Challenges</h2>
          <!-- Add Coding challenge content here -->
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/static/img/thumbnails/w3school.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Interactive Coding Platforms -->
      <section class="bg-light py-5 container-fluid">
        <div class="container">
          <h2 class="text-center mb-4">Interactive Coding Platforms</h2>
          <!-- Add Interactive Coding Platform content here -->
        </div>
      </section>

      <!-- Videos Section -->
    <section class="bg-light py-5 container-fludi">
        <div class="container">
          <h2 class="text-center mb-4">Videos</h2>
          <div class="row">
            <div class="col-md-4 mt-4">
                    <div class="card h-100 d-flex flex-column text-center">
                        <img src="https://img.youtube.com/vi/nLRL_NcnK-4/sddefault.jpg
                        " class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Video Title</h5>
                            <p class="card-text">Description of the video tutorial.</p>
                            <a href="https://www.youtube.com/watch?v=nLRL_NcnK-4&t=8741s" class="btn btn-primary">Watch Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- Cheat Sheets Section -->
      <section class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">Cheat Sheets</h2>
          <!-- Add Cheat Sheets content here -->
        </div>
      </section>

      <!-- Podcast Section -->
      <section class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">Podcast</h2>
          <!-- Add Podcast content here -->
        </div>
      </section>

      <!-- Capstone Project Section -->
      <section class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">Capstone Project</h2>
          <!-- Add Capstone Project content here -->
        </div>
      </section>
</div>
{% endblock %} <!-- Removed the content block -->