{% extends 'dashboard/base.html' %}
{% block title %}Tools{% endblock %}

{% block content %}
<style>
    /* Add hover effect for card zoom-out with shadow */
    .card {
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Software Engineering Tools</h1>


    
     <!-- Centralized Search Bar -->
     <div class="row justify-content-center mb-4">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="input-group">
                <input type="text" id="searchBar" class="form-control" placeholder="Search tools...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Centralized Dropdown Menu -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 d-flex justify-content-center">
            <select class="form-select" id="sectionDropdown">
                <option value=""></option>
                <option value="#ide">Integrated Development Environments (IDE)</option>
                <option value="#online-ide">Online Integrated Development Environments (IDE)</option>
                <option value="#whiteboarding">Whiteboarding and Flowchart Tools</option>
                <option value="#video-conferencing">Video Conferencing, Collaboration and Virtual Meeting Tools</option>
                <option value="#team-collaboration">Team Communication and Collaboration</option>
                <option value="#version-control">Version Control System (VCS)</option>
                <option value="#project-management">Productivity and Project Management</option>
                <option value="#knowledge-management">Knowledge Management</option>
                <option value="#code-challenges">Code Challenges and Communities</option>
                <option value="#mobile-tools">Mobile Phone Tools</option>
            </select>
        </div>
    </div>

    <!-- Integrated Development Environment -->
    <section id='ide' class="bg-light p-4 mb-5">
        <h2 class="mb-4">Integrated Development Environments (IDE) </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for Visual Studio Code -->
                <div class="card mb-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Visual_Studio_Code_1.35_icon.svg" class="category-thumbnail" alt="Visual Studio Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Visual Studio Code</h5>
                        <p class="card-text">A lightweight yet powerful code editor designed for optimal productivity and seamless integration with a wide range of programming languages and frameworks</p>
                        <a href="https://code.visualstudio.com/download" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Sublime Text -->
                <div class="card mb-4 text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Breezeicons-apps-48-sublime-text.svg" class="category-thumbnail" alt="Sublime Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Sublime Text</h5>
                        <p class="card-text">A lightning-fast, highly customizable code editor offering unparalleled speed and flexibility for developers across diverse programming languages and projects.</p>
                        <a href="https://www.sublimetext.com/download" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Pycharm Text -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/pyCharm.png" class="category-thumbnail" alt="PyCharm Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Pycharm</h5>
                        <p class="card-text">A powerful Python IDE with smart code completion, advanced debugging, and seamless version control integration. Ideal for boosting productivity in Python development.</p>
                        <a href="https://www.jetbrains.com/pycharm/download/?section=windows" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Intellij -->
                <div class="card mb-4 text-center">
                    <img src="/static/img/tools/IntelliJ.png" class="category-thumbnail" alt="Sublime Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">Intellij</h5>
                        <p class="card-text">A smart and feature-rich Java IDE designed to boost productivity with advanced coding assistance, powerful refactoring tools, and seamless integration with version control systems.</p>
                        <a href="https://www.jetbrains.com/idea/download/?section=windows" class="btn btn-primary" target="_blank">Download</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

    <!-- Online Integrated Development Environment -->
    <section id="online-ide" class="bg-light p-4 mb-5">
        <h2 class="mb-4"> Online Integrated Development Environments (IDE) </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for codepen -->
                <div class="card mb-4 text-center h-100 d-flex flex-column">
                    <img src="/static/img/tools/replit.png" class="category-thumbnail" alt="codepen Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Repl.it</h5>
                        <p class="card-text">Replit is a web-based IDE for coding in multiple programming languages, offering real-time collaboration, package management, and instant deployment.</p>
                        <a href="https://replit.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for codepen -->
                <div class="card mb-4 text-center h-100 d-flex flex-column">
                    <img src="/static/img/tools/codepen.png" class="category-thumbnail" alt="codepen Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Code Pen</h5>
                        <p class="card-text">CodePen is an online platform for testing and showcasing HTML, CSS, and JavaScript code snippets. It offers live previews, code sharing, and collaboration tools for front-end developers to prototype and experiment with web projects in a real-time environment.</p>
                        <a href="https://codepen.io/" class="btn btn-primary mt-auto" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for gitpod Text -->
                <div class="card mb-4 text-center h-100 d-flex flex-column">
                    <img src="/static/img/tools/gitpod.jpg" class="category-thumbnail" alt="Gitpod Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Gitpod</h5>
                        <p class="card-text">
                            Gitpod is a cloud-based IDE offering seamless integration with Git, pre-configured environments, and collaborative coding features, streamlining software development workflows.</p>
                        <a href="https://www.gitpod.io/" class="btn btn-primary mt-auto" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

    <!-- Whiteboarding Tools -->
    <section id="whiteboarding" class="bg-light p-4 mb-5">
        <h2 class="mb-4"> Whiteboarding and flowchart Tools </h2>
        <div class="row">
            <div class="col-lg-4">
                <!-- Card for Miro -->
                <div class="card mb-4 text-center h-100 d-flex flex-column">
                    <img src="/static/img/tools/miro.png" class="category-thumbnail" alt="Miro Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Miro</h5>
                        <p class="card-text">Miro offers a collaborative online whiteboard platform that allows teams to work together remotely. It provides a wide range of templates and tools for brainstorming, planning, and visual collaboration.</p>
                        <a href="https://miro.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Jamboard -->
                <div class="card mb-4 text-center h-100 d-flex flex-column">
                    <img src="/static/img/tools/jamboard.png" class="category-thumbnail" alt="Jamboard Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Jamboard</h5>
                        <p class="card-text">Jamboard is a collaborative digital whiteboarding tool developed by Google. It offers a simple and intuitive interface for brainstorming, ideation, and visual collaboration.</p>
                        <a href="https://jamboard.google.com/" class="btn btn-primary mt-auto" target="_blank">Sign up / Login</a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4">
                <!-- Card for Drawio -->
                <div class="card mb-4 text-center d-flex flex-column h-100">
                    <img src="/static/img/tools/drawio.png" class="category-thumbnail" alt="Drawio Thumbnail">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Draw io</h5>
                        <p class="card-text">
                            Draw.io is an intuitive online diagramming tool that offers a wide range of shapes, templates, and collaboration features for creating professional diagrams quickly and easily.</p>
                        <a href="https://draw.io/" class="btn btn-primary mt-auto" target="_blank">Launch</a>
                    </div>
                </div> 
            </div>
            <!-- Add more cards for other tools -->
        </div>
    </section>

<!-- Video Conferencing, collaboration and virtual meetings  -->
<section id="video-conferencing" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Video conferencing, Collaboration and virtual meeting tools </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for codepen -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/google_meet.png" class="category-thumbnail" alt="google meet Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Google Meet</h5>
                    <p class="card-text">Google Meet is a secure and user-friendly video conferencing platform designed for seamless virtual meetings, offering features like screen sharing, real-time captions, and integration with other Google Workspace apps.</p>
                    <a href="https://meets.google.com" class="btn btn-primary mt-auto" target="_blank">Create / join</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Zoom -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/zoom.png" class="category-thumbnail" alt="zoom Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Zoom</h5>
                    <p class="card-text">Versatile video conferencing platform renowned for its user-friendly interface, high-quality video/audio, screen sharing, and collaborative features, facilitating seamless online meetings and webinars.</p>
                    <a href="https://zoom.us/" class="btn btn-primary mt-auto" target="_blank">Sign up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Microsoft Teams Text -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/microsoft_teams.png" class="category-thumbnail" alt="Microsoft teams Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Microsoft Teams</h5>
                    <p class="card-text">
                        A feature-rich video conferencing solution within Microsoft 365, offering seamless collaboration with screen sharing, chat, and integration with other Microsoft tools.</p>
                    <a href="https://www.microsoft.com/en-us/microsoft-teams/online-meetings" class="btn btn-primary mt-auto" target="_blank">Sign up / Login</a>
                </div>
            </div> 
        </div>

        <!-- Add more cards for other tools -->
    </div>
</section>

<!-- Team Communication and Collaboration -->
<section id="team-collaboration" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Team Communication and Collaboration </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for Slack -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/slack2.webp" class="category-thumbnail" alt="Slack Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Slack</h5>
                    <p class="card-text">
                        Real-time messaging platform for team collaboration, featuring channels, direct messaging, file sharing, and integrations for enhanced productivity.</p>
                    <a href="https://slack.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Discord -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/discord.png" class="category-thumbnail" alt="Discord Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Discord</h5>
                    <p class="card-text">A communication platform tailored for gamers, offering text, voice, and video chat features, along with community-building tools like servers, roles, and bots.</p>
                    <a href="https://discord.com/" class="btn btn-primary mt-auto" target="_blank">Open / Download</a>
                </div>
            </div> 
        </div>
        
        <!-- Add more cards for other tools -->
    </div>
</section>

<!-- Version Control System (VCS) -->
<section id="version-control" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Version Control System </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for GitHub -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/github.png" class="category-thumbnail" alt="GitHub Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">
                        A leading platform for version control and collaboration, GitHub streamlines code hosting, project management, and team collaboration, offering essential features like pull requests, issue tracking, and branching for seamless software development.</p>
                    <a href="https://github.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Bitbucket -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/bitbucket.jpg" class="category-thumbnail" alt="Bit Bucket Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Bitbucket</h5>
                    <p class="card-text">A robust Git-based platform for code hosting, Bitbucket offers powerful version control features alongside issue tracking, pull requests, and continuous integration pipelines, facilitating efficient collaboration and code management for teams of all sizes.</p>
                    <a href="https://bitbucket.org/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Bitbucket -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/gitlab.png" class="category-thumbnail" alt="Git lab Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Git lab</h5>
                    <p class="card-text">An all-in-one DevOps platform with version control, issue tracking, CI/CD pipelines, and collaboration features, enabling efficient software development and delivery.</p>
                    <a href="https://about.gitlab.com/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
        
        <!-- Add more cards for other tools -->
    </div>
</section>

<!-- Productivity and Project Management -->
<section id="project-management" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Productivity and Project Management </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for Trello -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/trello.png" class="category-thumbnail" alt="Trello Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">
                        A visual collaboration tool that organizes projects into boards, allowing teams to prioritize tasks, track progress, and collaborate in real-time, streamlining project management and enhancing productivity.</p>
                    <a href="https://trello.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Bitbucket -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/asana.png" class="category-thumbnail" alt="Asana Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Asana</h5>
                    <p class="card-text">A versatile project management tool designed to help teams organize, track, and manage their work efficiently. With intuitive task lists, timelines, and collaboration features, Asana enables teams to streamline workflows, set clear goals, and achieve their objectives with ease.</p>
                    <a href="https://asana.com/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Clickup -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/clickup.png" class="category-thumbnail" alt="Clickup Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Clickup</h5>
                    <p class="card-text">All-in-one project management and productivity platform with customizable features, goal tracking, and seamless integrations for efficient team collaboration and workflow management.</p>
                    <a href="https://clickup.com/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <br>
            <!-- Card for Basecamp -->
            <div class="card mb-4 text-center d-flex flex-column">
                <img src="/static/img/tools/basecamp.png" class="category-thumbnail" alt="Basecamp Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Basecamp</h5>
                    <p class="card-text">A streamlined project management and collaboration tool enabling teams to efficiently communicate, organize tasks, share files, and schedule events from a centralized platform.</p>
                    <a href="https://basecamp.com/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
<!-- Knowledge Management  Tools -->
<section id="knowledge-management" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Knowledge Management </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for Trello -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/stackoverflow.svg" class="category-thumbnail" alt="stackoverflow Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Stack Overflow</h5>
                    <p class="card-text">
                        Stack Overflow is an online Q&A platform tailored for developers and software engineers, facilitating knowledge sharing and collaboration on coding challenges.</p>
                    <a href="https://stackoverflow.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for freecodecamp -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/freecodecamp.png" class="category-thumbnail" alt="Asana Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Freecodecamp</h5>
                    <p class="card-text">FreeCodeCamp: Free online platform with coding tutorials, interactive courses, and a supportive community for learners of all levels to improve coding skills and build real-world projects.</p>
                    <a href="https://www.freecodecamp.org/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
          
        <!-- Add more cards for other tools -->
    </div>
</section>

<!-- Knowledge Management  Tools -->
<section id="code-challenges" class="bg-light p-4 mb-5">
    <h2 class="mb-4"> Code Challenges and Communities </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for Trello -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/stackoverflow.svg" class="category-thumbnail" alt="stackoverflow Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Stack Overflow</h5>
                    <p class="card-text">
                        Stack Overflow is an online Q&A platform tailored for developers and software engineers, facilitating knowledge sharing and collaboration on coding challenges.</p>
                    <a href="https://stackoverflow.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Bitbucket -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/freecodecamp.png" class="category-thumbnail" alt="Asana Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Freecodecamp</h5>
                    <p class="card-text">FreeCodeCamp: Free online platform with coding tutorials, interactive courses, and a supportive community for learners of all levels to improve coding skills and build real-world projects.</p>
                    <a href="https://www.freecodecamp.org/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
          
        <!-- Add more cards for other tools -->
    </div>
</section>

<!-- Knowledge Management  Tools -->
<section id="mobile-tools" class="bg-light p-4 mb-5">
    <h2 class="mb-4">Mobile Phone Tools </h2>
    <div class="row">
        <div class="col-lg-4">
            <!-- Card for Trello -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/stackoverflow.svg" class="category-thumbnail" alt="stackoverflow Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Stack Overflow</h5>
                    <p class="card-text">
                        Stack Overflow is an online Q&A platform tailored for developers and software engineers, facilitating knowledge sharing and collaboration on coding challenges.</p>
                    <a href="https://stackoverflow.com/" class="btn btn-primary mt-auto" target="_blank">Sign Up / Login</a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <!-- Card for Bitbucket -->
            <div class="card mb-4 text-center h-100 d-flex flex-column">
                <img src="/static/img/tools/freecodecamp.png" class="category-thumbnail" alt="Asana Thumbnail">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Freecodecamp</h5>
                    <p class="card-text">FreeCodeCamp: Free online platform with coding tutorials, interactive courses, and a supportive community for learners of all levels to improve coding skills and build real-world projects.</p>
                    <a href="https://www.freecodecamp.org/" class="btn btn-primary mt-auto" target="_blank">Signup / Login</a>
                </div>
            </div> 
        </div>
          
        <!-- Add more cards for other tools -->
    </div>
</section>

<script>
    // Function to filter sections based on search query
    function filterSections() {
        var searchQuery = document.getElementById("searchBar").value.toLowerCase();
        var sections = document.querySelectorAll("section");

        sections.forEach(function(section) {
            var sectionContent = section.textContent.toLowerCase();
            var sectionTitle = section.querySelector("h2").textContent.toLowerCase();
            if (sectionContent.includes(searchQuery) || sectionTitle.includes(searchQuery)) {
                section.style.display = "block";
            } else {
                section.style.display = "none";
            }
        });
    }

    // Function to navigate to selected section from dropdown menu
    function navigateToSection() {
        var selectedSection = document.getElementById("sectionDropdown").value;
        if (selectedSection !== "") {
            window.location.href = selectedSection;
        }
    }

    // Add event listener to search button
    document.getElementById("searchButton").addEventListener("click", filterSections);

    // Add event listener to search bar for keyup event
    document.getElementById("searchBar").addEventListener("keyup", filterSections);

    // Add event listener to dropdown menu
    document.getElementById("sectionDropdown").addEventListener("change", navigateToSection);
</script>
{% endblock %}
